{% extends "base.html" %}



{% block head_title %}
this is amazing!!!!
{% endblock head_title %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form action="/create-tweet" id = 'tweet-create-form' class="form" method = 'POST'>
            {% csrf_token %}
            <input type="hidden" value = '/' name = 'next' />
            <textarea name="content" placeholder = 'Your tweet...' class="form-control"></textarea>
            <button class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class = "row" id = 'tweets'>
    Loading...
</div>

<script>

function handleTweetCreateFormDidSumbit(event){
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest() // xhr = Someclass()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH" , "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With" , "XMLHttpRequest")
    xhr.onload = function(){
        if(xhr.status === 201){
            const newTweetJson = xhr.response
            console.log(newTweetJson.likes)
            const newTweetElement = formatTweetElement(newTweetJson)
            console.log(newTweetElement)
            tweetsConatinerElement.prepend(newTweetElement)
        }
    }
    xhr.send(myFormData)
}

const tweetCreateFormEl = document.getElementById("tweet-create-form")
tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSumbit)


const tweetsConatinerElement = document.getElementById("tweets")

function loadTweets(tweetsElement){
    const xhr = new XMLHttpRequest() // xhr = Someclass()
    const method = 'GET' // POST
    const url = "/tweets"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.onload = function(){
        const response = xhr.response
        const listedItems = xhr.response.response
        var finalTweetStr = ""
        for(var i = 0 ; i < listedItems.length ; i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
}

loadTweets(tweetsConatinerElement)

function handleDidLike(tweet_id , currentCount) {
    console.log(tweet_id , currentCount)
    currentCount++
    return 
}

function LikeBtn(tweet){
    return "<button class = 'btn btn-primary btn-sm' onclick = handleDidLike(" + 
    tweet.id + "," + tweet.likes + ")>"+tweet.likes + "Like</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class = 'col-12 col-md-10 mx-auto mb-4 tweet py-3 border rounded' id = 'tweet-" + tweet.id 
    + "'><p>" +tweet.content + 
        "</p><div class = 'btn-group'>" +LikeBtn(tweet) +
        "</div></div>"
    return formattedTweet
}

    
</script>
{% endblock content %}

